<div class="row pt-5">
                <div class="col-md-10 ">
                <h1>
                Albums
                    <small class="text-muted">by @nikoGangsta</small>
                </h1>
                </div>
                <div class="col-md-2 pt-2">
                    <button type="button" class="btn-list btn btn-primary " >
                        Copy 
                    </button>
                </div>
           
            </div>


    

<div class="divider py-1 my-primary"></div>
<div class="row pt-3">
   

        <div class="col-md-1">
            <h2  class=" pt-5"> </h2>
        </div>
        <div class="col-md-5">
	    <h2> 1. Revolver</h2>
            <img src="imgs/pics/revolver.jpg" class="gimg" alt="Revolver Cover ">  
            <br>
         </div>
         <div class="col-md-5">
            <h4 class="pt-4"> The Beatles second try at experimenting with music is my favorite rock album because of the solid tracklist and large versatility.</h4>
         </div>
  </div>
 <div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5"> </h2>
    </div>
    <div class="col-md-5">
	 <h2> 2. Wish You Were Here</h2>
         <img src="imgs/pics/wishyouwerehere.jpg" class="gimg" alt="Wish You Were Here">  
            <br>
        </div>
        <div class="col-md-5">
            <h4 class="pt-4"> Wish you were here is Pink Floyd’s most emotional album. It was created as a remembrance of an old bandmate.
            </h4>
        </div>
    </div>
  <div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5"> </h2>
    </div>
    <div class="col-md-5">
	 <h2>3. Imagine</h2>
         <img src="imgs/pics/imagine.jpg" class="gimg" alt="Imagine">  
            <br>
        </div>
        <div class="col-md-5">
            <h4 class="pt-4">John Lennon’s magnum opus, Imagine is a raw, emotional portrayal of John Lennon’s mind. The title track is considered to be one of the greatest songs of all time.
            </h4>
        </div>

    </div>
    <div class="row pt-3">
      <div class="col-md-1">
          <h2  class=" pt-5"></h2>
      </div>
      <div class="col-md-5">
	   <h2> 4. All Things Must Pass</h2>
           <img src="imgs/pics/allthingsmustpass.jpg" class="gimg" alt="All Things Must Pass">  
              <br>
          </div>
          <div class="col-md-5">
              <h4 class="pt-4"> George Harrison’s first album after the Beatles is a tsunami of amazing songs that never made any of the Beatles albums.
              </h4>
          </div>
  
      </div>
      <div class="row pt-3">
        <div class="col-md-1">
            <h2  class=" pt-5"> </h2>
        </div>
        <div class="col-md-5">
	 <h2> 5. Pet Sounds</h2>
             <img src="imgs/pics/petsounds.jpg" class="gimg" alt="Pet Sounds">  
                <br>
            </div>
            <div class="col-md-5">
                <h4 class="pt-4"> Filled with interesting sounds and experimental songs, Pet Sounds is one of the best albums of all time. 
                </h4>
            </div>
    
        </div>
  
    <div class="divider py-1 my-primary mt-3 "></div>

    <h2 class= "pt-3 pb-3">Comments</h2>

<div class = "row" >
   <div class= "col-md-2">
    <img src="imgs/marco.jpg" alt=""  class="self-img rounded-circle mr-2 ">
   </div>
    
    <div class= "col-md-9">
        <textarea class="form-control" placeholder="Write a comment..." rows="3"></textarea>
    </div>
     
</div>
<br>
        <button type="button" class="btn btn-info pull-right btn-primary">Post</button>    


        <hr class="featurette-divider">

    <div class = "row" >
            <div class= "col-md-1">
             <img src="imgs/nickpic.jpg" alt=""  class="user-img rounded-circle mr-2 ">
            </div>
             
             <div class= "col-md-9">
                 <h6>cpen30</h6>
                 <p>ratio + kanye better</p>
             </div>
    </div>
