<div class="row pt-5">
    <div class="col-md-10 ">
        <h1>
            Basketball Players
            <small class="text-muted">by @lenickstick</small>
        </h1>
    </div>
    <div class="col-md-2 pt-2">
        <button type="button" class="btn-list btn btn-primary " >
            Copy 
        </button>
    </div>    
</div>
<div class="divider py-1 my-primary"></div>
<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5">1. </h2>
    </div>
    <div class="col-md-5">
        <img src="imgs/pics/timDuncan.jpg" class="gimg" alt="Tim Duncan ">  
        <br>
        <h3 class ="text-center">Tim Duncan  </h3>
    </div>
    <div class="col-md-5">
        <h4> A silent player who leaves it all on the court. His impressive lists of accolades speak for him instead. Great power forward, the best of all time.  </h4>

    </div>
    
</div>
<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5">2. </h2>
    </div>
    <div class="col-md-5">
        <img src="imgs/pics/garyPaytonII.jpg" class="gimg" alt="Gary Payton II">  
        <br>
        <h3 class ="text-center">Gary Payton II  </h3>
    </div>
    <div class="col-md-5">
        <h4> One of the new era players that still has that old school heart.  </h4>
    </div>

</div>

<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5">3. </h2>
    </div>
    <div class="col-md-5">
        <img src="imgs/pics/garyPayton.jpg" class="gimg" alt="Gary Payton I">  
        <br>
        <h3 class ="text-center">Gary Payton I</h3>
    </div>
    <div class="col-md-5">
        <h4> Raised a great basketball player</h4>
    </div>

</div>
<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5">4. </h2>
    </div>
    <div class="col-md-5">
        <img src="imgs/pics/peteMaravich.jpg" class="gimg" alt="Pete Maravich">  
        <br>
        <h3 class ="text-center">Pete Maravich</h3>
    </div>
    <div class="col-md-5">
        <h4>  incredible with handling multiple balls at once, truly one of the best.</h4>
    </div>
    
</div>
<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5">5. </h2>
    </div>
    <div class="col-md-5">
        <img src="imgs/pics/kevinHart.jpg" class="gimg" alt="Kevin Hart">  
        <br>
        <h3 class ="text-center">Kevin Hart</h3>
    </div>
    <div class="col-md-5">
        <h4> 4x mvp, need I say more?</h4>
    </div>
    
</div>

<div class="divider py-1 my-primary"></div>

<h2 class= "pt-3 pb-3">Comments</h2>

<div class = "row" >
    <div class= "col-md-2">
	<img src="imgs/marco.jpg" alt=""  class="self-img rounded-circle mr-2 ">
    </div>
    
    <div class= "col-md-9">
        <textarea class="form-control" placeholder="Write a comment..." rows="3"></textarea>
    </div>
    
</div>
<br>
<button type="button" class="btn btn-info pull-right btn-primary">Post</button>    


<hr class="featurette-divider">

<div class = "row" >
    <div class= "col-md-1">
        <img src="imgs/nickpic.jpg" alt=""  class="user-img rounded-circle mr-2 ">
    </div>
    
    <div class= "col-md-9">
        <h6>cpen30</h6>
        <p>what about lebum james?</p>
    </div>
    
</div>
