<div class="container-fluid pt-5 bigbanner">

        <h1  class="text-center pt-5 m-5 pr-5 pl-5 tit ;" >Which one do you prefer?</h1>
        <h4  class="text-center pb-5 subtit" > Gain G-Points by answering questions</h4>
    </div>

    <div class="row pt-5 pb-5"> 
        <div class="col-md-5">
            <img src="imgs/marco3.jpeg" class="eimg" alt="Adele">  
               <br>
            <h3 class ="text-center">Adele </h3>
           </div>

           <div class="col-md-2 pt-3">
            
            <h1  class ="text-center vs " >V.S. </h1>

            <button type="button" class="btn btn-primary mx-auto d-block vs2 pb-2">I don't know</button>
           </div>

           <div class="col-md-5">
            <img src="imgs/marco2.jpeg" class="eimg" alt="Agrande">  
               <br>
            <h3 class ="text-center">Ariana Grande  </h3>
           </div>
    </div>
