<div class="row pt-5">
    <div class="col-md-10 ">
        <h1>
            Singers
            <small class="text-muted">by @swaggymg</small>
        </h1>
    </div>
    <div class="col-md-2 pt-2">
        <button type="button" class="btn-list btn  btn-primary " >
            Copy 
        </button>
    </div>
    
</div>

<div class="divider py-1 my-primary"></div>
<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5">1. </h2>
    </div>
    <div class="col-md-5">
        <img src="imgs/marco.jpeg" class="gimg" alt="MBeer">  
        <br>
        <h3 class ="text-center">Madison Beer </h3>
    </div>
    <div class="col-md-5">
        <h4> I like madison beer because she speaks to my heart. Her lyrics are inspiring and her artistic abilities are beyond this world. No artist in history has ever made such great music. </h4>

    </div>
    
</div>
<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5">2. </h2>
    </div>
    <div class="col-md-5">
        <img src="imgs/marco2.jpeg" class="gimg" alt="AGrande">  
        <br>
        <h3 class ="text-center">Ariana Grande </h3>
    </div>
    <div class="col-md-5">
        <h4> Ariana Grande is my second favorite singer because she is pretty and nice. She also dated pete davidson </h4>
    </div>

</div>

<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5">3. </h2>
    </div>
    <div class="col-md-5">
        <img src="imgs/marco3.jpeg" class="gimg" alt="Adele">  
        <br>
        <h3 class ="text-center">Adele </h3>
    </div>
    <div class="col-md-5">
        <h4> Her old music is great. You can find me rolling in the deep for her new album </h4>
    </div>

</div>

<div class="divider py-1 my-primary"></div>

<h2 class= "pt-3 pb-3">Comments</h2>

<div class = "row" >
    <div class= "col-md-2">
	<img src="imgs/marco.jpeg" alt=""  class="self-img rounded-circle mr-2 ">
    </div>
    
    <div class= "col-md-9">
        <textarea class="form-control" placeholder="Write a comment..." rows="3"></textarea>
    </div>
    
</div>
<br>
<button type="button" class="btn btn-info pull-right btn-primary">Post</button>    


<hr class="featurette-divider">

<div class = "row" >
    <div class= "col-md-1">
        <img src="imgs/nickpic.jpeg" alt=""  class="user-img rounded-circle mr-2 ">
    </div>
    
    <div class= "col-md-9">
        <h6>lenickstick</h6>
        <p>Hey hey hey i love charli demelio </p>
    </div>
    
</div>
