<div class="row pt-5">
    <div class="col-md-10 ">
        <h1>
            Movies
            <small class="text-muted">by @priv</small>
        </h1>
    </div>
    <div class="col-md-2 pt-2">
        <button type="button" class="btn-list btn btn-primary " >
            Copy 
        </button>
    </div>
    
</div>

<div class="divider py-1 my-primary"></div>
<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5">1. </h2>
    </div>
    <div class="col-md-5">
        <img src="imgs/pics/goonies.jpg" class="gimg" alt="The Goonies Poster">  
        <br>
        <h3 class ="text-center">The Goonies </h3>
    </div>
    <div class="col-md-5">
        <h4> The perfect blend of adventure, nostalgia, and pirate treasure. This movie can be picked up from any point and enjoyed by all. This Spielberg classic included some now well-established actors including Josh Brolin, Corey Feldman, and Sean Astin.</h4>
    </div>
    
</div>
<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5">2. </h2>
    </div>
    <div class="col-md-5">
        <img src="imgs/pics/matrix.jpg" class="gimg" alt="The Matrix">  
        <br>
        <h3 class ="text-center">The Matrix </h3>
    </div>
    <div class="col-md-5">
        <h4> A defining movie in the Sci-Fi genre with complex philosophical ideas, amazing kung fu choreography, and cutting edge (at the time) cinematic innovation. Woah!
            
        </h4>
    </div>

</div>

<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5">3. </h2>
    </div>
    <div class="col-md-5">
        <img src="imgs/pics/alien.jpg" class="gimg" alt="Alien">  
        <br>
        <h3 class ="text-center">Alien</h3>
    </div>
    <div class="col-md-5">
        <h4>A true Sci-Fi/Thriller film that proved you didn't have to see a "monster" very often to feel a sense of dread watching a movie. Finally, we get to experience the excitement with the tough, no-nonsense Ellen Ripley played by the amazing Sigourney Weaver.
            
        </h4>
    </div>

</div>
<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5">4. </h2>
    </div>
    <div class="col-md-5">
        <img src="imgs/pics/shawshank.jpg" class="gimg" alt="The Shawshank Redemption">  
        <br>
        <h3 class ="text-center">The Shawshank Redemption</h3>
    </div>
    <div class="col-md-5">
        <h4> “Get busy living or get busy dying.”
        </h4>
    </div>
    
</div>
<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5">5. </h2>
    </div>
    <div class="col-md-5">
        <img src="imgs/pics/hotfuzz.jpg" class="gimg" alt="Hot Fuzz">  
        <br>
        <h3 class ="text-center">Hot Fuzz </h3>
    </div>
    <div class="col-md-5">
        <h4> The subtle, brilliant humor of Simon Pegg and Nick Frost throws your expectations of what a comedy movie should be out the window. No action movie trope is safe, but in spite of this you still end up with your fill of gun play and explosions before the movie is over.
        </h4>
    </div>
    
</div>

<div class="py-1 my-primary"></div>

<h2 class= "pt-3 pb-3">Comments</h2>

<div class = "row" >
    <div class= "col-md-2">
	<img src="imgs/marco.jpg" alt=""  class="self-img rounded-circle mr-2 ">
    </div>
    
    <div class= "col-md-9">
        <textarea class="form-control" placeholder="Write a comment..." rows="3"></textarea>
    </div>
    
</div>
<br>
<button type="button" class="btn btn-info pull-right btn-primary">Post</button>    


<hr class="featurette-divider">

<div class = "row" >
    <div class= "col-md-1">
        <img src="imgs/nickpic.jpg" alt=""  class="user-img rounded-circle mr-2 ">
    </div>
    
    <div class= "col-md-9">
        <h6>cpen30</h6>
        <p>No Star Wars?</p>
    </div>
</div>
    
