
<div class="row pt-5">
    <div class="col-md-10 ">
        <h1>
            Presidential Basketball Team 
            <small class="text-muted">by @cryptic</small>
        </h1>
    </div>
    <div class="col-md-2 pt-2">
        <button type="button" class="btn-list btn btn-primary " >
            Copy 
        </button>
    </div>
    
</div>

<div class="py-1 my-primary"></div>
<div class="row pt-3"> 
    <div class="col-md-1">
        <h2  class=" pt-5"> </h2>
    </div>
    <div class="col-md-5 justify-content-center ">
	<h2  class="">1. Big Abe </h2>
        <img src="imgs/pics/bAbe.jpg" class="gimg" alt="bAbe">  
        <br>
    </div>
    <div class="col-md-5">
        <h4 class="pt-4"> His length and wingspan would make him give him a dirk like build, this man would unify the team and make sure all races will be included. </h4>
    </div>    
</div>
<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5"> </h2>
    </div>
    <div class="col-md-5">
	  <h2  class="">2. Barack Obama </h2>
        <img src="imgs/pics/bObama.jpg" class="gimg" alt="bObama">  
        <br>
    </div>
    <div class="col-md-5">
        <h4 class="pt-4"> At my shooting gaurd, I got barack Obama. His offesnive game is unmatched. He knows how to shoot bombs from deep. </h4>
    </div>
</div>

<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5"> </h2>
    </div>
    <div class="col-md-5 justify-content-center">
	  <h2  class="">3. JFK </h2>
        <img src="imgs/pics/jfk.jpg" class="gimg" alt="JFK">  
        <br>
    </div>
    <div class="col-md-5">
        <h4 class="pt-4"> My defensive mastermind. Knows how to block shots with his head. To make up for barack's lack of defense JFK will start at Small Foward.</h4>
    </div>
</div>
<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5"> </h2>
    </div>
    <div class="col-md-5 justify-content-center">
	  <h2  class="">4. WIlliam Howard Taft </h2>
        <img src="imgs/pics/wTaft.jpg" class="gimg" alt="wTaft">  
        <br>
        <h3 class ="text-center"></h3>
    </div>
    <div class="col-md-5">
        <h4 class="pt-4"> At my starting center, I got the man who broke a bathtub. A big man to cause a big trouble.</h4>
    </div>
    
</div>
<div class="row pt-3">
    <div class="col-md-1">
        <h2  class=" pt-5"> </h2>
    </div>
    <div class="col-md-5 justify-content-center">
	  <h2  class="">5. FDR (pre-polio) </h2>
        <img src="imgs/pics/fdr.jpg" class="gimg" alt="FDR">  
    </div>
    <div class="col-md-5">
        <h4 class="pt-4"> Now to have a facilitator we pick FDR. The countless programs and money dished out to the people make him the perfect team player.</h4>
    </div>
</div>
<div class="py-1 my-primary mt-3 "></div>
<h2 class= "pt-3 pb-3">Comments</h2>
<div class = "row" >
    <div class= "col-md-2">
	<img src="imgs/marco.jpg" alt=""  class="self-img rounded-circle mr-2 ">
    </div>
    
    <div class= "col-md-9">
        <textarea class="form-control" placeholder="Write a comment..." rows="3"></textarea>
    </div>
    
</div>
<br>
<button type="button" class="btn btn-info pull-right btn-primary">Post</button>    
<hr class="featurette-divider">

<div class = "row" >
    <div class= "col-md-1">
        <img src="imgs/nickpic.jpg" alt=""  class="user-img rounded-circle mr-2 ">
    </div>
    
    <div class= "col-md-9">
        <h6>lenickstick</h6>
        <p>Jimmy "Ankle Breaker" Carter belongs at #1</p>
    </div>
</div>
