<form>
<div class="row mt-3">
    <!--<form id="searchStuff">-->
	<div class="col-2"><h1>Search:</h1></div>
	<div class="col-2"><h1><input type="text" placeholder="Search for Gusers and Lists"></h1></div>
    <!--</form>-->
</div>
</form>
<div class="py-1 my-primary"></div>

<br><br><br><br>
